{% block sidebar %}
<aside id="sidebar" class="sidebar-expanded transition-all duration-300 ease-out p-4 border-r border-gray-300 shadow-md z-[100] absolute h-full bg-white">
    <div class="space-y-8">
        <div class="flex items-center gap-2">
            <button onclick="toggleSidebar()" class="p-2 hover:bg-gray-200 rounded-full active:scale-95 duration-100" title="Click to expand or collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/></svg>
            </button>
            <h2 class="font-bold">Users</h2>
        </div>

        {% if users %}
            <div id="users-container" class="overflow-y-auto overflow-x-hidden divide-y group flex flex-col">            
                
                <button onclick="window.location.reload()" id="refresh-users" title="Refresh users list" class="rounded-full px-2 py-1 bg-blue-100 text-blue-600 text-xs w-fit self-center mb-2 hover:bg-blue-200 flex gap-1 items-center justify-center hidden">Refresh <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M12.077 19q-2.931 0-4.966-2.033q-2.034-2.034-2.034-4.964t2.034-4.966T12.077 5q1.783 0 3.339.847q1.555.847 2.507 2.365V5h1v5.23h-5.23v-1h3.7q-.782-1.495-2.198-2.363T12.077 6q-2.5 0-4.25 1.75T6.077 12t1.75 4.25t4.25 1.75q1.925 0 3.475-1.1t2.175-2.9h1.062q-.662 2.246-2.514 3.623T12.077 19"/></svg></button>
                
                {% for user in users %}
                    <a id="user-{{ user.username }}" href="{% if receiver and receiver.username == user.username %}#{% else %}/chat?user={{ user.username }}{% endif %}" class="user-sidebar-card {% if receiver and receiver.username == user.username %}active{% endif %} group-[.collapsed]:px-1 group-[.collapsed]:justify-center">
                        <div class="flex gap-2 group-[.collapsed]:gap-0 items-center">
                            <img class="w-[32px]" src="https://api.dicebear.com/9.x/initials/svg?seed={{ user.first_name }}&size=32&radius=50" alt="{{ user.first_name }} Avatar" />
                            <div class="flex flex-col justify-center gap-1">
                                <span class="group-[.collapsed]:hidden">{{ user.first_name }} {{ user.last_name }}</span>
                                <div class="user-online hidden text-xs text-green-700 flex gap-1 items-center">
                                    <div class="user-online w-1 h-1 bg-green-700 rounded-full">
                                    </div>
                                    <span class="group-[.collapsed]:hidden">Online</span>
                                </div>
                            </div>
                        </div>

                        <div class="new-message-indicator hidden bg-blue-600 rounded-full w-2 h-2 text-white font-medium text-xs {% if receiver and receiver.username == user.username %}hidden{% endif %}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</aside>
{% endblock %}